<!DOCTYPE html>
<html>
<head>
    <title>Order Locator</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxmSCemjzvX37q_fc1VfHo4OhXFuWQLIU"></script>
    <script>
        function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 10,
        center: {lat: -34.397, lng: 150.644}
    });
    var bounds = new google.maps.LatLngBounds();
    var orders = JSON.parse('{{.}}');
    var geocoder = new google.maps.Geocoder();
    
    orders.forEach(function(order) {
        geocoder.geocode({ 'address': order.address }, function(results, status) {
            if (status === 'OK') {
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
                bounds.extend(marker.getPosition());
                map.fitBounds(bounds);
            } else {
                console.log('Geocode was not successful for the following reason: ' + status);
            }
        });
    });
}
    </script>
</head>
<body onload="initMap()">
    <div id="map" style="height: 500px; width: 100%;"></div>
</body>
</html>
